.vertical-carousel {
  display: flex;
  flex-direction: column;
  width: 33.33%; /* Ocupa tres columnas del contenedor */
  height: 100%;
  overflow: hidden;
}

.vertical-carousel .carousel-item {
  height: 250px; /* Ajusta la altura según sea necesario */
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-carousel img {
  max-height: 100%;
  object-fit: cover;
}

